node_modules

.vitepress/dist
项目说明
jiagou.md
buzhou.md
mx.md

.vscode
.idea
.claude
.trae

.DS_Store
Thumbs.db

*.log
*.tgz
*.timestamp-*.mjs

.temp
.vite_opt_cache
.sync-temp

.env
.env.local
.env.*.local

coverage
cache
temp

